<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.project.subscription.mapper.UserSubscriptionMapper">

    <!-- 用户订阅公共字段 -->
    <sql id="UserSubscriptionColumns">
        id,
        user_id,
        product_id,
        started_at,
        expires_at,
        status,
        created_at,
        updated_at
    </sql>

    <!-- 兑换时使用的加锁查询 -->
    <select id="selectForUpdate"
            resultType="com.web.project.subscription.entity.UserSubscription">
        SELECT
        <include refid="UserSubscriptionColumns"/>
        FROM user_subscription
        WHERE user_id = #{userId}
        AND product_id = #{productId}
        LIMIT 1
        FOR UPDATE
    </select>

    <!-- 客户端检查权限时使用的普通查询 -->
    <select id="selectByUserIdAndProductId"
            resultType="com.web.project.subscription.entity.UserSubscription">
        SELECT
        <include refid="UserSubscriptionColumns"/>
        FROM user_subscription
        WHERE user_id = #{userId}
        AND product_id = #{productId}
        LIMIT 1
    </select>

    <!-- 创建用户订阅 -->
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO user_subscription
        (
        user_id,
        product_id,
        started_at,
        expires_at,
        status
        )
        VALUES
        (
        #{userId},
        #{productId},
        #{startedAt},
        #{expiresAt},
        #{status}
        )
    </insert>

    <!-- 延长订阅时间 -->
    <update id="updateExpiration">
        UPDATE user_subscription
        SET expires_at = #{expiresAt},
        status = #{status}
        WHERE id = #{id}
    </update>

</mapper>