<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.project.product.mapper.ProductPlanMapper">

    <!-- 商品套餐公共字段 -->
    <sql id="ProductPlanColumns">
        id,
        product_id,
        plan_code,
        plan_name,
        duration_days,
        price,
        support_redeem,
        support_payment,
        status,
        sort,
        created_at,
        updated_at
    </sql>

    <!-- 根据套餐 ID 查询 -->
    <select id="selectById"
            resultType="com.web.project.product.entity.ProductPlan">
        SELECT
        <include refid="ProductPlanColumns"/>
        FROM product_plan
        WHERE id = #{id}
        LIMIT 1
    </select>

    <!-- 根据套餐编码查询 -->
    <select id="selectByCode"
            resultType="com.web.project.product.entity.ProductPlan">
        SELECT
        <include refid="ProductPlanColumns"/>
        FROM product_plan
        WHERE plan_code = #{planCode}
        LIMIT 1
    </select>

    <!-- 创建商品套餐 -->
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO product_plan
        (
        product_id,
        plan_code,
        plan_name,
        duration_days,
        price,
        support_redeem,
        support_payment,
        status,
        sort
        )
        VALUES
        (
        #{productId},
        #{planCode},
        #{planName},
        #{durationDays},
        #{price},
        #{supportRedeem},
        #{supportPayment},
        #{status},
        #{sort}
        )
    </insert>

    <!-- 查询某个商品下的全部套餐 -->
    <select id="selectByProductId"
            resultType="com.web.project.product.entity.ProductPlan">
        SELECT
        <include refid="ProductPlanColumns"/>
        FROM product_plan
        WHERE product_id = #{productId}
        ORDER BY sort ASC, id ASC
    </select>

</mapper>