<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.project.admin.mapper.AdminUserMapper">

    <!-- 管理员表的公共查询字段 -->
    <sql id="AdminUserColumns">
        id,
        username,
        password,
        nickname,
        status,
        created_at,
        updated_at
    </sql>

    <!--
        管理员列表公共查询条件。

        keyword 不为空时：
        同时搜索 username 和 nickname。

        status 不为空时：
        按管理员状态筛选。
    -->
    <sql id="AdminUserConditions">
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                username LIKE CONCAT('%', #{keyword}, '%')
                OR nickname LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </sql>

    <!-- 新增管理员 -->
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO admin_user
        (
        username,
        password,
        nickname,
        status
        )
        VALUES
        (
        #{username},
        #{password},
        #{nickname},
        #{status}
        )
    </insert>

    <!-- 根据账号查询管理员 -->
    <select id="selectByUsername"
            resultType="com.web.project.admin.entity.AdminUser">
        SELECT
        <include refid="AdminUserColumns"/>
        FROM admin_user
        WHERE username = #{username}
        LIMIT 1
    </select>

    <!-- 根据 ID 查询管理员 -->
    <select id="selectById"
            resultType="com.web.project.admin.entity.AdminUser">
        SELECT
        <include refid="AdminUserColumns"/>
        FROM admin_user
        WHERE id = #{id}
        LIMIT 1
    </select>

    <!-- 查询符合条件的数据总数 -->
    <select id="countByCondition"
            resultType="long">
        SELECT COUNT(*)
        FROM admin_user
        <include refid="AdminUserConditions"/>
    </select>

    <!-- 分页查询管理员列表 -->
    <select id="selectPageByCondition"
            resultType="com.web.project.admin.entity.AdminUser">
        SELECT
        <include refid="AdminUserColumns"/>
        FROM admin_user
        <include refid="AdminUserConditions"/>
        ORDER BY id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

</mapper>